{% extends 'adminlte/base_tableros.html' %}  <!-- Indica que esta plantilla hereda de 'adminlte/base_tablero.html', permitiendo reutilizar su estructura y diseño. -->
{% load static %}

{% block title %}
Administrar Tableros - {{ block.super }}
{% endblock %}

{% block page_name %}
    <h1 class="page-title" style="color: rgb(1, 41, 110);">Administrar Tableros</h1>
{% endblock %}

{% block content %}
<!-- Carga del archivo CSS estático personalizado -->
<link rel="stylesheet" href="{% static 'css/admin.css' %}">

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <!-- Título y botones para crear un nuevo tablero y cargar CSV -->
            <h3 class="card-title">Listado de Tableros</h3>
            <div>
                <a href="{% url 'crear_tablero' %}" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Crear Tablero
                </a>
                <a href="{% url 'cargar_csv' %}" class="btn btn-secondary ml-2">
                    <i class="fas fa-upload"></i> Cargar Archivo CSV
                </a>
            </div>
        </div>
        <!-- Formulario de búsqueda -->
        <form method="GET" class="input-group mt-3" style="max-width: 400px;">
            <input type="text" name="q" class="form-control" placeholder="Buscar por identificador" value="{{ query|default:'' }}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="fas fa-search"></i> Buscar
                </button>
            </div>
        </form>
    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <!-- Tabla de tableros -->
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Proyecto Asociado</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tablero in page_obj %}
                    <tr>
                        <td>{{ tablero.identificador }}</td>
                        <td>{{ tablero.proyecto.proyecto }}</td>
                        <td class="text-center">
                            <a href="{% url 'editar_tablero' tablero.identificador %}" class="btn btn-info btn-sm">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <button class="btn btn-danger btn-sm" onclick="confirmarEliminacion('{{ tablero.identificador }}')">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </button>
                            <form id="eliminarTableroForm_{{ tablero.identificador }}" style="display: none;" action="{% url 'eliminar_tablero' tablero.identificador %}" method="post">
                                {% csrf_token %}
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No hay tableros registrados</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Paginación -->
        <div class="mt-4">
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <!-- Botón para ir a la primera página -->
                {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?q={{ query|default:'' }}&page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?q={{ query|default:'' }}&page={{ page_obj.previous_page_number }}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %}
      
                <!-- Paginación dinámica -->
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active">
                  <span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
                </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item"><a
                    class="page-link" href="?q={{ query|default:'' }}&page={{ num }}">{{ num }}</a></li>
                  {% elif num == 1 or num == page_obj.paginator.num_pages %}
                  <li class="page-item"><a class="page-link" href="?q={{ query|default:'' }}&page={{ num }}">{{ num }}</a>
                  </li>
                  {% elif num < page_obj.number|add:'-3' and num == 2 %} <li class="page-item"><span
                      class="page-link">...</span></li>
                    {% elif num > page_obj.number|add:'3' and num == page_obj.paginator.num_pages|add:'-1' %}
                    <li class="page-item"><span class="page-link">...</span></li>
                    {% endif %}
                    {% endfor %}
      
                    <!-- Botón para ir a la página siguiente -->
                    {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?q={{ query|default:'' }}&page={{ page_obj.next_page_number }}"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="?q={{ query|default:'' }}&page={{ page_obj.paginator.num_pages }}"
                        aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                      </a>
                    </li>
                    {% endif %}
              </ul>
            </nav>
        </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

{% endblock %}

{% block extra_js %}
<script>
    function confirmarEliminacion(codigo) {
        if (confirm('¿Estás seguro de que deseas eliminar este tablero?')) {
            document.getElementById('eliminarTableroForm_' + codigo).submit();
        }
    }
</script>
{% endblock %}