/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Estilos de la tabla */
.table-container {
    overflow-x: auto;
    margin-bottom: 30px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tfoot tr td {
    font-weight: bold;
}

/* Estilos para la gráfica */
.chart-container {
    position: relative;
    margin: 0 auto;
    height: 400px;
    width: 100%;
}

.table {
    margin-bottom: 1rem;
    color: #212529;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
    padding: 0.75rem;
    vertical-align: top;
}

.table-dark {
    background-color: #343a40;
    color: white;
}

.table-dark th {
    color: white;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Color de fondo en hover */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 123, 255, 0.05); /* Color alternativo para filas */
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: white; /* Color alternativo para filas */
}