<!-- Carga de los tags i18n y static de Django -->
{% load i18n %}
{% load static %}

<!-- Declaración del documento HTML -->
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Bloque para definir el título de la página -->
    {% block title_outer %}
        <title>{% block title %}{{ site.name }}{% endblock %}</title>
    {% endblock %}

    <!-- Bloque para definir los metadatos de la página -->
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock %}

    <!-- Bloque para incluir los archivos de estilos CSS -->
    {% block stylesheets %}
        {% include 'adminlte/components/_styles.html' %}
        <link rel="stylesheet" href="{% static 'admin-lte/dist/css/SuperA.css' %}">
    {% endblock %}

    {% block extra_head %}{% endblock %}
</head>

<body class="hold-transition sidebar-mini {% block body_class %}{% block bodyclass %}{% endblock %}{% endblock %}">
    <div class="wrapper">
        {% block nav_header %}
            {% include 'auditor/components/_main_header.html' %}
        {% endblock %}

        {% block nav_sidebar %}
            {% include 'auditor/components/_main_sidebar.html' %}
        {% endblock %}

        {% block content_wrapper %}
            <div class="content-wrapper">
                {% block content_header %}
                    <section class="content-header">
                        {% block no_heading %}
                            <h1>
                                {% block page_name %}{% endblock %}
                                <div class="header-actions">
                                    {% block page_actions %}{% endblock %}
                                </div>
                                {% block no_description %}
                                    <small>{% block page_description %}{% endblock %}</small>
                                {% endblock %}
                            </h1>
                        {% endblock no_heading %}
                    </section>
                {% endblock content_header %}

                {% block content_outer %}
                    <section class="content">
                        {% block messages %}
                            {% include 'auditor/components/_messages.html' %}
                        {% endblock %}

                        {% block content_block_wrap %}
                            {% block content %}
                                {% block dynamic_content %}{% endblock %}
                            {% endblock %}
                        {% endblock %}
                    </section>
                {% endblock content_outer %}
            </div>
        {% endblock content_wrapper %}
    </div>

    {% block javascript %}
        {% include 'auditor/components/_scripts.html' %}
    {% endblock %}

    {% block extra_js %}{% endblock %}
    {% block extra_foot %}{% endblock %}
</body>
</html>
