{% extends 'adminlte/base_cables.html' %}
{% load static %}

{% block title %}
Administrar Cables - {{ block.super }}
{% endblock %}

{% block page_name %}
    <h1 class="page-title" style="color: rgb(1, 41, 110);">Administrar Cables</h1>
{% endblock %}

{% block content %}
<!-- Carga del archivo CSS estático personalizado -->
<link rel="stylesheet" href="{% static 'css/admin.css' %}">

<!-- Advertencia de stock bajo -->
{% if cables_bajo_stock %}
<div class="alert alert-warning">
    <strong>Advertencia:</strong> Hay cables cuyo stock está por debajo del mínimo.
    <ul>
        {% for cable in cables_bajo_stock %}
        <li>Referencia: {{ cable.referencia }} - Cantidad Restante: {{ cable.cantidad_restante }}, Stock Mínimo: {{ cable.stock_minimo }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <!-- Título y botón para crear un nuevo cable -->
            <h3 class="card-title">Listado de Cables</h3>
            <a href="{% url 'crear_cable' %}" class="btn btn-primary">
                <i class="fas fa-plus"></i> Crear Cable
            </a>
        </div>
        <!-- Formulario de búsqueda -->
        <form method="GET" class="input-group mt-3" style="max-width: 400px;">
            <input type="text" name="q" class="form-control" placeholder="Buscar por referencia" value="{{ query|default:'' }}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="fas fa-search"></i> Buscar
                </button>
            </div>
        </form>
    </div>
    <!-- /.card-header -->

    <div class="card-body">
        <div class="table-responsive">
            <!-- Tabla de cables -->
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th style="vertical-align: top;">Referencia</th>
                        <th style="vertical-align: top;">Descripción</th>
                        <th>Cantidad Inicial (m)</th>
                        <th>Cantidad Restante (m)</th>
                        <th>Stock Mínimo (m)</th>
                        <th style="vertical-align: top; text-align: center;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cable in page_obj %}
                    <tr>
                        <td>{{ cable.referencia }}</td>
                        <td>{{ cable.descripcion }}</td>
                        <td>{{ cable.cantidad_inicial }}</td>
                        <td>{{ cable.cantidad_restante }}</td>
                        <td>{{ cable.stock_minimo }}</td>
                        <td class="text-center">
                            <!-- Botones de acción para editar y eliminar cables -->
                            <a href="{% url 'editar_cable' cable.referencia %}" class="btn btn-info btn-sm btn-accion">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                            <a href="{% url 'reabastecer_cable' cable.referencia %}" class="btn btn-success btn-sm btn-accion">
                                <i></i> Reabastecer
                            </a>
                            <button class="btn btn-danger btn-sm btn-accion" onclick="confirmarEliminacion('{{ cable.referencia }}')">
                                <i class="fas fa-trash-alt"></i> Eliminar
                            </button>
                           
                            <form id="eliminarCableForm_{{ cable.referencia }}" style="display: none;" action="{% url 'eliminar_cable' cable.referencia %}" method="post">
                                {% csrf_token %}
                            </form>
                        </td>
                        
                        <style>
                            .btn-accion {
                                width: 100px; /* Ajusta el valor según sea necesario */
                                text-align: center;
                                margin: 2px; /* Espacio entre los botones */
                            }
                        </style>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No hay cables registrados</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Paginación -->
        <div class="mt-4">
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                <!-- Botón para ir a la primera página -->
                {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?q={{ query|default:'' }}&page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?q={{ query|default:'' }}&page={{ page_obj.previous_page_number }}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %}
      
                <!-- Paginación dinámica -->
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active">
                  <span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
                </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item"><a
                    class="page-link" href="?q={{ query|default:'' }}&page={{ num }}">{{ num }}</a></li>
                  {% elif num == 1 or num == page_obj.paginator.num_pages %}
                  <li class="page-item"><a class="page-link" href="?q={{ query|default:'' }}&page={{ num }}">{{ num }}</a>
                  </li>
                  {% elif num < page_obj.number|add:'-3' and num == 2 %} <li class="page-item"><span
                      class="page-link">...</span></li>
                    {% elif num > page_obj.number|add:'3' and num == page_obj.paginator.num_pages|add:'-1' %}
                    <li class="page-item"><span class="page-link">...</span></li>
                    {% endif %}
                    {% endfor %}
      
                    <!-- Botón para ir a la página siguiente -->
                    {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?q={{ query|default:'' }}&page={{ page_obj.next_page_number }}"
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="?q={{ query|default:'' }}&page={{ page_obj.paginator.num_pages }}"
                        aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                      </a>
                    </li>
                    {% endif %}
              </ul>
            </nav>
        </div>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->

{% endblock %}

{% block extra_js %}
<script>
    // Función para confirmar la eliminación de un cable
    function confirmarEliminacion(cableId) {
        if (confirm('¿Estás seguro de que deseas eliminar este cable?')) {
            document.getElementById('eliminarCableForm_' + cableId).submit();
        }
    }
</script>
{% endblock %}
